<section class="content-header">

    <h1>
        Robes
        <small>Gestion des robes de chiens</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-cog"></i> Paramètres</a>
        </li>
        <li class="active">Robes</li>
    </ol>

</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <div class="box box-info box-list-robes">

                <div class="box-body no-padding">

                    <!-- search form -->
                    <form action="#" method="get" class="search-form-allin">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="inputFilterRobe" ng-model-options="{ debounce: 300 }" placeholder="Filtrer" />
                            <span class="input-group-btn">
                                <button type='submit' name='search' id='search-btn' class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>

                    <table ng-table="tableParams" show-filter="false" class="table table-condensed table-striped ng-table-no-header ng-table-robe">
                        <tr ng-repeat="robe in $data | filter:inputFilterRobe">
                            <td data-title="'Races'" style="padding-left:10px;width:40%;cursor: pointer;" ng-click="onClickEdit(robe)">
                                <span ng-bind="robe.race.nom"></span>
                            </td>
                            <td data-title="'Robes'" filter="{nom: 'text'}" sortable="'nom'" style="padding-left:10px;width:40%;cursor: pointer;" ng-click="onClickEdit(robe)">
                                <span ng-bind="robe.nom"></span>
                            </td>
                            <td>
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button style="margin-right:6px;" class="btn btn-default btn-sm" ng-click="onClickEdit(robe)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-danger btn-sm" ng-confirm-click="Voulez-vous supprimer cette robe ?" confirmed-click="onClickDelete(robe)" ng-show="isDeletable(robe)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <!-- /.box-body -->

                <div class="loadingHidden overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->


        <div class="col-lg-6 col-xs-12">


            <div class="box box-info form-robe">

                <div class="box-header with-border">
                    <h3 class="box-title" ng-hide="editionMode">
                        <i class="fa fa-plus"></i>&nbsp;
                        <span ng-bind="titreAjout"></span>
                    </h3>
                    <h3 class="box-title" ng-show="editionMode">
                        <i class="fa fa-reorder"></i>&nbsp;
                        <span ng-bind="titreEdit"></span>
                    </h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->

                <form class="form-horizontal" ng-submit="onClickSave()">

                    <div class="box-body">

                        <div class="box callout callout-danger" ng-show="robeFormError">
                            <h4>
                                <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Enregistrement annulé</h4>
                            <p ng-bind="robeFormErrorMessage"></p>
                        </div>
                        <div class="form-group">
                            <label for="inputRace" class="col-md-3 control-label">Race*</label>
                            <div class="col-md-9">
                                <select name="inputRace" class="races-select" style="width:100%;"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputLibelle" class="col-md-3 control-label">Nom*</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputNom" ng-model="currentRobe.nom" placeholder="Dénomination de la robe">
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->


                    <div class="box-footer clearfix">
                        <input type="button" id="btnCancel" value="Annuler" ng-click="onClickCancel()" class="btn pull-left" />
                        <input type="submit" id="btnAjouter" value="Sauvegarder" class="btn btn-info pull-right" />
                    </div>
                    <!-- /.box-footer -->

                </form>

                <div class="loadingHidden overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>

            </div>


        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->



</section>
<!-- /.content -->