<section class="content-header">

    <h1>
        Chiens
        <small>Gestion des chiens</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-paw"></i> Accueil</a>
        </li>
        <li class="active">Chiens</li>
    </ol>

</section>

<!-- Content Header (Page header) -->

<!-- Main content -->
<section class="content">

    <!--                       -->
    <!-- Critères de recherche -->
    <!--                       -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info box-search-criterias">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-search"></i>&nbsp;Critères de recherche
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- .box-tools -->
                </div>
                <!-- .box-header -->

                <div class="box-body">
                    <!--      -->
                    <!-- Tabs -->
                    <!--      -->
                    <div class="row tabs" style="padding-top:1em; padding-bottom:1em;">
                        <ul>
                            <li>
                                <a href="#tab-criteres-courants">Critères courants</a>
                            </li>
                            <li>
                                <a href="#tab-naissance-deces">Naissance - Décès</a>
                            </li>
                            <li>
                                <a href="#tab-identifications">Identifications</a>
                            </li>
                            <li>
                                <a href="#tab-clients">Clients</a>
                            </li>
                        </ul>

                        <form class="form-horizontal">

                            <!--                   -->
                            <!-- Critères courants -->
                            <!--                   -->
                            <div class="row" id="tab-criteres-courants">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="criteriaNom" class="col-md-3 control-label">Nom</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="criteriaNom" ng-model="criteriaNom" autofocus empty-to-null>
                                        </div>
                                    </div>
                                    <!-- .form-group (nom) -->

                                    <div class="form-group">
                                        <label for="criteriaAffixe" class="col-md-3 control-label">Affixe</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="criteriaAffixe" ng-model="criteriaAffixe" empty-to-null>
                                        </div>
                                    </div>
                                    <!-- .form-group (affixe) -->

                                    <div class="form-group">
                                        <label for="criteriaRace" class="col-md-3 control-label">Race</label>
                                        <div class="col-md-9">
                                            <select name="criteriaRace" class="races-select" style="width:100%;"></select>
                                        </div>
                                    </div>
                                    <!-- .form-group (race) -->

                                    <div class="form-group">
                                        <label for="criteriaRobe" class="col-md-3 control-label">Robe</label>
                                        <div class="col-md-9">
                                            <select name="criteriaRobe" class="robes-select" style="width:100%;"></select>
                                        </div>
                                    </div>
                                    <!-- .form-group (robe) -->
                                </div>
                                <!-- .col-md-6 -->
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="criteriaSexe" class="col-md-3 control-label">Sexe</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="sexeM"> Mâle
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="sexeF"> Femelle
                                        </div>
                                    </div>
                                    <!-- .form-group (sexe) -->

                                    <div class="form-group">
                                        <label for="criteriaReproducteur" class="col-md-3 control-label">Reproducteur</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="reproducteurY"> Oui
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="reproducteurN"> Non
                                        </div>
                                    </div>
                                    <!-- .form-group (reproducteur) -->

                                    <div class="form-group">
                                        <label for="criteriaPresent" class="col-md-3 control-label">Présent</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="presentY"> Oui
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="presentN"> Non
                                        </div>
                                    </div>
                                    <!-- .form-group (présence) -->

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Produit</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="produitY"> Oui
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="produitN"> Non
                                        </div>
                                    </div>
                                    <!-- .form-group (production) -->

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Etat</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="vivantY"> Vivant
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="vivantN"> Décédé
                                        </div>
                                    </div>
                                    <!-- .form-group (etat) -->
                                </div>
                            </div>
                            <!-- #tab-criteres-courants -->

                            <!--                               -->
                            <!-- Recherche par naissance/décès -->
                            <!--                               -->
                            <div class="row" id="tab-naissance-deces">
                                <div class="col-md-6">
                                    <div class="box box-info box-naissance">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Naissance
                                            </h4>
                                        </div>
                                        <!-- .box-header -->
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="criteriaNaissanceDu" class="col-md-3 control-label">Depuis le</label>
                                                <div class="col-md-9">
                                                    <component-datepicker ng-model="criteriaNaissanceDu" style="width:100%;" empty-to-null />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="criteriaNaissanceAu" class="col-md-3 control-label">Jusqu'au</label>
                                                <div class="col-md-9">
                                                    <component-datepicker ng-model="criteriaNaissanceAu" style="width:100%;" empty-to-null />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .box-body -->
                                    </div>
                                    <!-- .box-naissance -->
                                </div>
                                <div class="col-md-6">
                                    <div class="box box-info box-deces">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Décès
                                            </h4>
                                        </div>
                                        <!-- .box-header -->
                                        <div class="box-body with-border">
                                            <div class="form-group">
                                                <label for="criteriaDecesDu" class="col-md-3 control-label">Depuis le</label>
                                                <div class="col-md-9">
                                                    <component-datepicker ng-model="criteriaDecesDu" style="width:100%;" empty-to-null />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="criteriaDecesAu" class="col-md-3 control-label">Jusqu'au</label>
                                                <div class="col-md-9">
                                                    <component-datepicker ng-model="criteriaDecesAu" style="width:100%;" empty-to-null />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .box-body -->
                                    </div>
                                    <!-- .box-deces -->
                                </div>
                            </div>
                            <!-- .row -->

                            <!--                               -->
                            <!-- Recherche par identifications -->
                            <!--                               -->
                            <div class="row" id="tab-identifications">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="criteriaPuce" class="col-md-3 control-label">Puce</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="criteriaPuce" ng-model="criteriaPuce" empty-to-null>
                                        </div>
                                    </div>
                                    <!-- .form-group (puce) -->

                                    <div class="form-group">
                                        <label for="criteriaPasseport" class="col-md-3 control-label">Passeport</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="criteriaPasseport" ng-model="criteriaPasseport" empty-to-null>
                                        </div>
                                    </div>
                                    <!-- .form-group (passeport) -->

                                    <div class="form-group">
                                        <label for="criteriaTatouage" class="col-md-3 control-label">Tatouage</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="criteriaTatouage" ng-model="criteriaTatouage" empty-to-null>
                                        </div>
                                    </div>
                                    <!-- .form-group (tatouage) -->
                                </div>
                            </div>

                            <!--                       -->
                            <!-- Recherche par clients -->
                            <!--                       -->
                            <div class="row" id="tab-clients">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="criteriaNomClient" class="col-md-3 control-label">Nom client</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input type="text" class="form-control" id="criteriaNomClient" ng-model="criteriaNomClient" empty-to-null>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .form-group (clients) -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- .row -->
                </div>
                <!-- .row -->
            </div>
            <!-- .box-body -->

            <div class="box-footer">
                <div class="col-md-12">
                    <button class="btn pull-left" ng-click="onClickClearSearch()">
                        <i class="fa fa-ban"></i>&nbsp;Effacer les critères
                    </button>
                    <button type="submit" class="btn btn-info pull-right" ng-click="onClickStartSearch()">
                        <i class="fa fa-search"></i>&nbsp;Rechercher
                    </button>
                </div>
                <!-- .col-md-12 -->

            </div>
        </div>
    </div>
    </div>

    <!--                           -->
    <!-- Résultats de la recherche -->
    <!--                           -->
    <div class="row" id="searchResultsDiv">
        <div class="col-md-12">
            <div class="box box-info box-search-results">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-bell"></i>
                        <span ng-bind="searchResultsTitle"></span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">

                    <!--                    -->
                    <!-- Table de Résultats -->
                    <!--                    -->
                    <script id="chien_ng_header" type="text/ng-template">
                        <tr>
                            <th ng-repeat="column in columns" ng-show="column.visible" class="text-center" style="display: table-cell;">
                                {{column.title}}
                            </th>
                        </tr>
                    </script>

                    <table ng-table="tableParams" template-header="chien_ng_header" class="table table-condensed table-bordered table-striped table-with-tooltip">
                        <tr ng-repeat="chien in $data">
                            <td class="text-center">
                                <span ng-bind="chien.id"></span>
                            </td>
                            <td class="text-center">
                                <i class="text-primary fa fa-home" ng-show="chien.present == 1"></i>
                                <i class="text-gray fa fa-home" ng-show="chien.present == 0"></i> &nbsp;&nbsp;&nbsp;
                                <i class="text-success fa fa-wrench" ng-show="chien.produit == 1"></i>
                                <i class="text-gray fa fa-wrench" ng-show="chien.produit == 0"></i>
                            </td>
                            <td style="width: 20%;">
                                <b>
                                    <span ng-bind="chien.nom"></span>&nbsp;
                                    <span ng-bind="chien.affixe"></span>
                                </b>
                            </td>
                            <td class="text-center">
                                <span ng-show="chien.sexe == 'M'">
                                    <i class="fa fa-mars"></i>
                                </span>
                                <span ng-show="chien.sexe == 'F'">
                                    <i class="fa fa-venus"></i>
                                </span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="chien.race.nom"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="chien.robe.nom"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="toJMA(chien.date_naissance)"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="toJMA(chien.date_deces)"></span>
                            </td>
                            <td style="width: 15%;">
                                <span ng-bind="chien.client.nom"></span>&nbsp;
                                <span ng-bind="chien.client.prenom"></span>
                            </td>
                            <td class=" text-center">
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-default btn-sm" title="Voir les données de ce chien" ng-click="onClickView(chien)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-default btn-sm" title="Modifier ce chien" ng-click="onClickEdit(chien)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <button class="btn btn-info pull-right" ng-click="onClickAdd()">
                        <i class="fa fa-plus"></i>&nbsp;Ajouter un chien
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--                                                                  -->
    <!-- Modale de visualisation/modification/ajout des données du chien  -->
    <!--                                                                  -->
    <div class="modal" role="dialog" id="modalVAU">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content loadable">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-paw text-primary"></i>&nbsp;{{title}}</h3>
                </div>
                <div class="modal-body">

                    <div class="row tabs" style="padding-top:1em; padding-bottom:1em;">
                        <ul>
                            <li>
                                <a href="#tab-signaletique">Signalétique</a>
                            </li>
                            <li>
                                <a href="#tab-parents">Parents</a>
                            </li>
                            <li>
                                <a href="#tab-vie">Naissance - Décès</a>
                            </li>
                            <li>
                                <a href="#tab-idents">Identifications</a>
                            </li>
                            <li>
                                <a href="#tab-client">Client</a>
                            </li>
                        </ul>
                        <form class="form-horizontal">
                            <!-- =========================== -->
                            <!--   S I G N A L E T I Q U E   -->
                            <!-- =========================== -->
                            <div class="row" id="tab-signaletique">
                                <div class="col-md-6">

                                    <!-- ========= -->
                                    <!--   N O M   -->
                                    <!-- ========= -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nom *</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="inputNom" ng-model="currentChien.nom" empty-to-null>
                                        </div>
                                    </div>

                                    <!-- =============== -->
                                    <!--   A F F I X E   -->
                                    <!-- =============== -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Affixe</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="inputAffixe" ng-model="currentChien.affixe" empty-to-null>
                                        </div>
                                    </div>

                                    <!-- =========== -->
                                    <!--   R A C E   -->
                                    <!-- =========== -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Race *</label>
                                        <div class="col-md-9">
                                            <select class="races-select-VAU" style="width:100%;"></select>
                                        </div>
                                    </div>

                                    <!-- =========== -->
                                    <!--   R O B E   -->
                                    <!-- =========== -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Robe</label>
                                        <div class="col-md-9">
                                            <select class="robes-select-VAU" style="width:100%;"></select>
                                        </div>
                                    </div>

                                </div>
                                <!-- .col-md-6 -->

                                <div class="col-md-6">

                                    <!-- =========== -->
                                    <!--   S E X E   -->
                                    <!-- =========== -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sexe *</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputSexeM"> Mâle
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputSexeF"> Femelle
                                        </div>
                                    </div>

                                    <!-- =========================== -->
                                    <!--   R E P R O D U C T E U R   -->
                                    <!-- =========================== -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Reproducteur *</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputReproducteurY"> Oui
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputReproducteurN"> Non
                                        </div>
                                    </div>

                                    <!-- =================== -->
                                    <!--   P R E S E N C E   -->
                                    <!-- =================== -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Présent *</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputPresentY"> Oui
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputPresentN"> Non
                                        </div>
                                    </div>

                                    <!-- ======================= -->
                                    <!--   P R O D U C T I O N   -->
                                    <!-- ======================= -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Produit *</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputProduitY"> Oui
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputProduitN"> Non
                                        </div>
                                    </div>

                                    <!-- =========== -->
                                    <!--   E T A T   -->
                                    <!-- =========== -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Etat</label>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputVivantY"> Vivant
                                        </div>
                                        <div class="col-md-3 checkbox checkbox-primary">
                                            <input type="checkbox" id="inputVivantN"> Décédé
                                        </div>
                                    </div>

                                </div>
                                <!-- .col-md-6 -->

                            </div>

                            <!-- =========================== -->
                            <!--   P A R E N T S             -->
                            <!-- =========================== -->
                            <div class="row" id="tab-parents">
                                <div class="col-md-6">
                                    <div class="box box-info box-pere">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Père
                                            </h4>
                                        </div>
                                        <!-- .box-header -->

                                        <div class="box-body">

                                            <!-- =========== -->
                                            <!--   P E R E   -->
                                            <!-- =========== -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nom</label>
                                                <div class="col-md-9">
                                                    <select class="peres-select-VAU" style="width:100%;"></select>
                                                    <br>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box box-info box-mere">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Mère
                                            </h4>
                                        </div>
                                        <!-- .box-header -->
                                        <div class="box-body with-border">

                                            <!-- =========== -->
                                            <!--   M E R E   -->
                                            <!-- =========== -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nom</label>
                                                <div class="col-md-9">
                                                    <select class="meres-select-VAU" style="width:100%;"></select>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- .box-body -->
                                    </div>
                                    <!-- .box-deces -->
                                </div>
                            </div>

                            <!-- =========================== -->
                            <!--   V I E                     -->
                            <!-- =========================== -->
                            <div class="row" id="tab-vie">
                                <div class="col-md-6">
                                    <div class="box box-info box-naissance">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Naissance
                                            </h4>
                                        </div>
                                        <!-- .box-header -->

                                        <!-- =============================== -->
                                        <!--   D A T E   N A I S S A N C E   -->
                                        <!-- =============================== -->
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Le</label>
                                                <div class="col-md-9">
                                                    <component-datepicker ng-model="currentChien.date_naissance" style="width:100%;" empty-to-null />
                                                </div>
                                            </div>

                                            <!-- ================================= -->
                                            <!--   A G E   A U J O U R D ' H U I   -->
                                            <!-- ================================= -->
                                            <div class="form-group" ng-show="!currentChien.date_deces">
                                                <label class="col-md-3 control-label">Age</label>
                                                <div class="col-md-9">
                                                    <textarea type="text" class="form-control" ng-bind="ageToday()" rows="1" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box box-info box-deces">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Décès
                                            </h4>
                                        </div>
                                        <!-- .box-header -->
                                        <div class="box-body with-border">

                                            <!-- ======================= -->
                                            <!--   D A T E   D E C E S   -->
                                            <!-- ======================= -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Le</label>
                                                <div class="col-md-9">
                                                    <component-datepicker ng-model="currentChien.date_deces" style="width:100%;" empty-to-null />
                                                </div>
                                            </div>

                                            <!-- =========================== -->
                                            <!--   A G E   A U   D E C E S   -->
                                            <!-- =========================== -->
                                            <div class="form-group" ng-show="currentChien.date_deces">
                                                <label class="col-md-3 control-label">A vécu</label>
                                                <div class="col-md-9">
                                                    <textarea type="text" class="form-control" ng-bind="ageDeath()" rows="1" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .box-body -->
                                    </div>
                                    <!-- .box-deces -->
                                </div>

                            </div>

                            <!-- =========================== -->
                            <!--   I D E N T S               -->
                            <!-- =========================== -->
                            <div class="row" id="tab-idents">
                                <div class="col-md-6">

                                    <!-- =========== -->
                                    <!--   P U C E   -->
                                    <!-- =========== -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Puce</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="currentChien.puce" empty-to-null>
                                        </div>
                                    </div>

                                    <!-- ===================== -->
                                    <!--   P A S S E P O R T   -->
                                    <!-- ===================== -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Passeport</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="currentChien.passeport" empty-to-null>
                                        </div>
                                    </div>

                                    <!-- =================== -->
                                    <!--   T A T O U A G E   -->
                                    <!-- =================== -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tatouage</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="currentChien.tatouage" empty-to-null>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- =========================== -->
                            <!--   C L I E N T               -->
                            <!-- =========================== -->
                            <div class="row" id="tab-client">
                                <div class="col-md-6">

                                    <!-- ======================= -->
                                    <!--   N O M   C L I E N T   -->
                                    <!-- ======================= -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nom client</label>
                                        <div class="col-md-9">
                                            <select class="clients-select-VAU" style="width:100%;"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea class="form-control" rows="5" disabled>{{clientInfos}}</textarea>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- .row -->
                </div>
                <!-- .modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn pull-left" data-dismiss="modal" ng-hide="action == actionView">
                        <i class="fa fa-ban"></i>&nbsp;Annuler</button>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" ng-show="action == actionView">
                        <i class="fa fa-sign-out"></i>&nbsp;Fermer</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="onClickSave()" ng-hide="action == actionView">
                        <i class="fa fa-check"></i>&nbsp;Sauvegarder</button>
                </div>
                <!-- .modal-footer -->
            </div>
            <!-- .modal-content -->
        </div>
        <!-- .modal-dialog -->
    </div>
    <!-- .modal -->

</section>
<!-- /.content -->