<section class="content-header">

    <h1>
        Clients
        <small>Gestion des clients</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0)">
                <i class="fa fa-users"></i> Paramètres</a>
        </li>
        <li class="active">Clients</li>
    </ol>

</section>

<!-- Content Header (Page header) -->

<!-- Main content -->
<section class="content">

    <!--                       -->
    <!-- Critères de recherche -->
    <!--                       -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info box-search-criterias">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-search"></i>&nbsp;Critères de recherche
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <div class="box-body">
                        <!--      -->
                        <!-- Tabs -->
                        <!--      -->
                        <div class="row" id="tabs" style="padding-top:1em; padding-bottom:1em;">
                            <ul>
                                <li>
                                    <a href="#tab-recherche-standard">Recherche standard</a>
                                </li>
                                <li>
                                    <a href="#tab-recherche-par-chien">Recherche par chien</a>
                                </li>
                            </ul>

                            <!--                    -->
                            <!-- Recherche standard -->
                            <!--                    -->
                            <div class="row" id="tab-recherche-standard">
                                <div class="col-md-6">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="criteriaNom" class="col-md-3 control-label">Nom</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="criteriaNom" ng-model="criteriaNom" autofocus empty-to-null>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="criteriaPrenom" class="col-md-3 control-label">Prénom</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="criteriaPrenom" ng-model="criteriaPrenom" empty-to-null>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="criteriaTel" class="col-md-3 control-label">Téléphone</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="criteriaTel" ng-model="criteriaTel" empty-to-null>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="criteriaMail" class="col-md-3 control-label">E-mail</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="criteriaMail" ng-model="criteriaMail" empty-to-null>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="criteriaCodePostal" class="col-md-3 control-label">Code postal</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" id="criteriaCodePostal" ng-model="criteriaCodePostal" empty-to-null>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="criteriaLocalite" class="col-md-3 control-label">Localité</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="criteriaLocalite" ng-model="criteriaLocalite" empty-to-null>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="criteriaPays" class="col-md-3 control-label">Pays</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="criteriaPays" ng-model="criteriaPays" empty-to-null>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn pull-left" ng-click="onClickClearSearchStandard()">
                                        <i class="fa fa-ban"></i>&nbsp;Effacer les critères
                                    </button>
                                    <button class="btn btn-info pull-right" ng-click="onClickStartSearchStandard()">
                                        <i class="fa fa-search"></i>&nbsp;Rechercher
                                    </button>
                                </div>
                            </div>
                            <!--                     -->
                            <!-- Recherche par chien -->
                            <!--                     -->
                            <div class="row" id="tab-recherche-par-chien">
                                <div class="col-md-6">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="criteriaProprietaire" class="col-md-3 control-label">Propriétaire de</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="criteriaProprietaire" ng-model="criteriaProprietaire" empty-to-null>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn pull-left" ng-click="onClickClearSearchByDog()">
                                        <i class="fa fa-ban"></i>&nbsp;Effacer le critère
                                    </button>
                                    <button class="btn btn-info pull-right" ng-click="onClickStartSearchByDog()">
                                        <i class="fa fa-search-plus"></i>&nbsp;Rechercher
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--                           -->
    <!-- Résultats de la recherche -->
    <!--                           -->
    <div class="row" id="searchResultsDiv">
        <div class="col-md-12">
            <div class="box box-info box-search-results">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-bell"></i>
                        <span ng-bind="searchResultsTitle"></span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">

                    <!--                    -->
                    <!-- Table de Résultats -->
                    <!--                    -->
                    <script id="client_ng_header" type="text/ng-template">
                        <tr>
                            <th ng-repeat="column in columns" ng-show="column.visible" class="text-center" style="display: table-cell;">
                                {{column.title}}
                            </th>
                        </tr>
                    </script>

                    <table ng-table="tableParams" template-header="client_ng_header" class="table table-condensed table-bordered table-striped table-with-tooltip">
                        <tr ng-repeat="client in $data" ng-click="onClickView(client)" style="cursor:pointer;">
                            <td class="text-center">
                                <span ng-bind="client.id"></span>
                            </td>
                            <td style="width: 25%;">
                                <span ng-bind="client.nom"></span>&nbsp;
                                <span ng-bind="client.prenom"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="client.chiens.length === 0 ? '' : client.chiens.length"></span>
                            </td>
                            <td>
                                <span ng-bind="client.tel1"></span>&nbsp;
                                <span ng-bind="client.tel2">
                            </td>
                            <td>
                                <span ng-bind="client.email"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="client.code_postal"></span>
                            </td>
                            <td>
                                <span ng-bind="client.localite"></span>
                            </td>
                            <td>
                                <span ng-bind="client.pays"></span>
                            </td>
                            <td class="text-center">
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-default btn-sm" title="Voir les données de ce client" ng-click="onClickView(client)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-default btn-sm" title="Modifier ce client" ng-click="onClickEdit(client)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-danger btn-sm" title="Supprimer ce client" ng-confirm-click="Voulez-vous supprimer ce client ?" confirmed-click="onClickDelete(client)" ng-show="isDeletable(client)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    <button class="btn btn-info btn-sm" title="Voir ses chiens" ng-click="onClickViewDogs(client)" ng-show="!isDeletable(client)">
                                        <span class="fa fa-paw"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <button class="btn btn-info pull-right" ng-click="onClickAdd()">
                        <i class="fa fa-plus"></i>&nbsp;Ajouter un client
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--                                              -->
    <!-- Modale de visualisation des chiens du client  -->
    <!--                                              -->
    <div class="modal" tabindex="-1" role="dialog" id="modalViewDogs">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><i class="fa fa-paw text-primary"></i>&nbsp;Chien(s) appartenant à {{currentClient.prenom}} {{currentClient.nom}} ({{currentClient.chiens.length}})</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Affixe</th>
                                <th>Race</th>
                                <th class="text-center">Robe</th>
                                <th class="text-center">Sexe</th>
                                <th class="text-center">Naissance</th>
                                <th class="text-center">Décès</th>
                                <th>Père</th>
                                <th>Mère</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="chien in currentClient.chiens">
                                <td style="display: table-cell"><b>{{chien.nom}}</b></td>
                                <td style="display: table-cell">{{chien.affixe}}</td>
                                <td style="display: table-cell">{{chien.race.nom}}</td>
                                <td style="display: table-cell" class="text-center">{{chien.robe.nom}}</td>
                                <td style="display: table-cell" class="text-center">
                                    <span ng-show="chien.sexe === 'M'"><i class="fa fa-mars"></i></span>
                                    <span ng-show="chien.sexe === 'F'"><i class="fa fa-venus"></i></span>
                                    <td style="display: table-cell" class="text-center">{{toJMA(chien.date_naissance)}}</td>
                                    <td style="display: table-cell" class="text-center">{{toJMA(chien.date_deces)}}</td>
                                    <!-- <td style="display: table-cell"><a href="https://www.google.com" target="_blank">{{chien.pere.nom}}</a></td> -->
                                    <td style="display: table-cell">{{chien.pere.nom}}</td>
                                    <td style="display: table-cell">{{chien.mere.nom}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <i class="fa fa-sign-out"></i>&nbsp;Fermer</button>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->