<section class="content-header">

    <h1>
        Portées
        <small>Gestion des portées</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-paw"></i> Accueil</a>
        </li>
        <li class="active">Portées</li>
    </ol>

</section>

<!-- Main content -->
<section class="content">

    <!--                       -->
    <!-- Critères de recherche -->
    <!--                       -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info box-search-criterias">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-search"></i>&nbsp;Critères de recherche
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- .box-tools -->
                </div>
                <!-- .box-header -->

                <div class="box-body">
                    <!--      -->
                    <!-- Tabs -->
                    <!--      -->
                    <div class="row tabs" style="padding-top:1em; padding-bottom:1em;">
                        <ul>
                            <li>
                                <a href="#tab-parents">Parents</a>
                            </li>
                            <li>
                                <a href="#tab-date-naissance">Date de naissance</a>
                            </li>
                        </ul>

                        <form class="form-horizontal">

                            <!--                       -->
                            <!-- Recherche par parents -->
                            <!--                       -->
                            <div class="row" id="tab-parents">
                                <div class="col-md-6">
                                    <div class="box box-info box-pere">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Père
                                            </h4>
                                        </div>
                                        <!-- .box-header -->
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="criteriaPere" class="col-md-3 control-label">Nom</label>
                                                <div class="col-md-9">
                                                    <select name="criteriaPere" class="peres-select" style="width:100%;"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .box-body -->
                                    </div>
                                    <!-- .box-pere -->
                                </div>
                                <div class="col-md-6">
                                    <div class="box box-info box-mere">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Mère
                                            </h4>
                                        </div>
                                        <!-- .box-header -->
                                        <div class="box-body with-border">
                                            <div class="form-group">
                                                <label for="criteriaMere" class="col-md-3 control-label">Nom</label>
                                                <div class="col-md-9">
                                                    <select name="criteriaMere" class="meres-select" style="width:100%;"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .box-body -->
                                    </div>
                                    <!-- .box-mere -->
                                </div>
                            </div>
                            <!-- .row -->

                            <div class="row" id="tab-date-naissance">
                                <div class="col-md-6">
                                    <div class="box box-info box-naissance">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                Naissance
                                            </h4>
                                        </div>
                                        <!-- .box-header -->
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="criteriaNaissanceDu" class="col-md-3 control-label">Du</label>
                                                <div class="col-md-9">
                                                    <component-datepicker ng-model="criteriaNaissanceDu" style="width:100%;" empty-to-null />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="criteriaNaissanceAu" class="col-md-3 control-label">Au</label>
                                                <div class="col-md-9">
                                                    <component-datepicker ng-model="criteriaNaissanceAu" style="width:100%;" empty-to-null />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .box-body -->
                                    </div>
                                    <!-- .box-naissance -->
                                </div>

                            </div>
                            <!-- .row -->
                        </form>
                    </div>
                    <!-- .row -->
                </div>
                <div class="box-footer">
                    <div class="col-md-12">
                        <button class="btn pull-left" ng-click="onClickClearSearch()">
                            <i class="fa fa-ban"></i>&nbsp;Effacer les critères
                        </button>
                        <button type="submit" class="btn btn-info pull-right" ng-click="onClickStartSearch()">
                            <i class="fa fa-search"></i>&nbsp;Rechercher
                        </button>
                    </div>
                    <!-- .col-md-12 -->

                </div>
                <!-- .row -->
            </div>
            <!-- .box-body -->

        </div>
    </div>

    <!--                           -->
    <!-- Résultats de la recherche -->
    <!--                           -->
    <div class="row" id="searchResultsDiv">
        <div class="col-md-12">
            <div class="box box-info box-search-results">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-bell"></i>
                        <span ng-bind="searchResultsTitle"></span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">

                    <!--                    -->
                    <!-- Table de Résultats -->
                    <!--                    -->
                    <script id="portee_ng_header" type="text/ng-template">
                        <tr>
                            <th ng-repeat="column in columns" ng-show="column.visible" class="text-center" style="display: table-cell;">
                                {{column.title}}
                            </th>
                        </tr>
                    </script>

                    <table ng-table="tableParams" template-header="portee_ng_header" class="table table-condensed table-bordered table-striped table-with-tooltip">
                        <tr ng-repeat="portee in $data">
                            <td class="text-center">
                                <span ng-bind="portee.numero"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="portee.race.nom"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="toJMA(portee.date_naissance)"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="portee.pere.nom"></span>&nbsp;
                                <span ng-bind="portee.pere.affixe"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="portee.mere.nom"></span>&nbsp;
                                <span ng-bind="portee.mere.affixe"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="portee.nbr_chiots_viv"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="portee.nbr_males_viv"></span>
                            </td>
                            <td class="text-center">
                                <span ng-bind="portee.nbr_femelles_viv"></span>
                            </td>
                            <td class="text-center">
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-default btn-sm" title="Voir la fiche de cette portée" ng-click="onClickView(portee)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-default btn-sm" title="Modifier cette portée" ng-click="onClickEdit(portee)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="divButton" style="width:40px;padding-right:5px;">
                                    <button class="btn btn-danger btn-sm" title="Supprimer cette portée" ng-click="onClickDelete(portee)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <button class="btn btn-info pull-right" ng-click="onClickAdd()">
                        <i class="fa fa-plus"></i>&nbsp;Ajouter une portée
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!--                                                                  -->
    <!-- Modale de visualisation/modification/ajout des données du chien  -->
    <!--                                                                  -->
    <div class="modal" role="dialog" id="modalVAUD">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content loadable">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-venus-mars text-primary"></i>&nbsp;{{title}}</h3>
                </div>
                <div class="modal-body">
                    <div class="errorsDiv text-danger" ng-show="errorMessage.length > 10"></div>
                </div>
            </div>
        </div>
    </div>

</section>