{% if flash.getMessage('global') %}
    <div class="alert alert-error">
        <span class="text-danger"><i class="fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i> {{ flash.getMessage('global') | first }} </span>
    </div>
{% endif %}
